<html>
  <head>
    <meta charset="UTF-8">
    <title>Calculadora Eletrica</title>
  </head>
  <body>
    <h1>Calcular Tensão</h1>
    <form action="/u" method="post">
      <input type="text" name="num1" placeholder="Resistência">
      <input type="text" name="num2" placeholder="Corrente">
      <input type="submit" value="Calcular">
    </form>
    <% if @result %>
      <h2>Resultado: <%= @result %>V</h2>
    <% end %>
  </body>
</html>